<IfModule mod_rewrite.c>
RewriteEngine On

# Force www

RewriteCond %{HTTP_HOST} ^text-a-psychic\.com [NC]
RewriteRule ^ https://www.%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php/$1 [L] 
</IfModule>