#smodal_bg{ background:#000; position: fixed; width:100%; height:100%; top:0; left:0; opacity: .7; z-index:998; }

#smodal{ position: absolute; top:100; width:719px; z-index:999; display:none; }
#smodal .top{ height:19px; background-image:url(smodal_top.png); }
#smodal .top .title{ font-size:36px; font-weight: bold; color:#ababab; padding:28px 0 0 20px; }
#smodal .top .close_smodal{ display: block; float:right; width:40px; height:40px; background-image:url(smodal_close.png); text-decoration: none; margin:-10px -10px 0 0; }
#smodal .top .close_smodal span{ display:none; }
#smodal .middle{ padding:20px; background-image:url(smodal_bg.png); }
#smodal .middle .content{ margin:0 10px; padding:0 10px; overflow: auto; }
#smodal .middle .content h1{ margin:0; padding:0; font-size:20px; font-weight: bold; color:#000; }
#smodal .middle .content p{ line-height: 18px; font-size: 12px; }
#smodal .bottom{ height:19px; background-image:url(smodal_bottom.png); }
#smodal .content .field{ font-weight: bold; font-size:14px; margin-bottom:5px !important; }
#smodal .content .form_field{ margin-bottom:10px; }
#smodal .content .form_field input[type="text"]{ width:475px; }
#smodal .content .form_field textarea{ width:475px; height:100px; }